.div-CategoryForm {
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 32px;
}

.p-CategoryForm-title {
  font-family: Mushin-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0;
  color: #252733;
}

.div-CategoryForm-sp {
  margin-bottom: 100px;
}

.span-CategoryForm-imgsp {
  margin-right: 12px;
}

.label-CategoryForm-text {
  font-family: Mushin-Heavy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.input-CategoryForm-text {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 12px;
  width: 416px;
  padding: 10px;
}

.div-CategoryForm-margin {
  margin-left: 100px;
}

.form-CategoryForm-size {
  width: 650px;
}

.div-CategoryForm-label {
  margin-bottom: 30px;
}

.input-CategoryForm-img {
  width: 125px;
  height: 125px;
}

.div-CategoryForm-label2 {
  margin-bottom: 100px;
}

.span-CategoryForm-spaceBtn {
  margin-right: 17px;
}

.button-CategoryForm-accept {
  font-family: Mushin-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  background-color: #2AA71A;
  border-radius: 12px;
  padding: 12px;
  border: none;
}

.button-CategoryForm-cancel {
  font-family: Mushin-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  background-color: #FD2828;
  border-radius: 12px;
  padding: 12px;
  border: none;
}
