{
    "arrowParens": "avoid",
	"printWidth" : 80,
    "semi" : false,
    "useTabs" : true,
    "tabWidth": 2,
    "singleQuote" : true,
    "jsxSingleQuote" : true,
    "trailingComma" : "none",
    "bracketSameLine" : true
}
